header{
	font-size: 30px;
	color: rgb(19, 157, 157);
}

body {
	height: 100px;
	margin: 100px;
	text-align:center;
	width: 100px;
  background-image: url('Guess that Number!! (1).png');
  color: rgb(34, 0, 255);
  padding: 4em;
  background-repeat:no-repeat;
  background-size:auto;
	background-color: rgb(33, 21, 113);
	background-position: top;
}

input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0 0 0;
	box-sizing: border-box;
	border: 2px solid rgb(34, 0, 255);
	background-color: #3CBC8D;
  }